footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 30px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-left,
.footer-contact,
.footer-social {
    margin: 10px;
}

.footer-social .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-social .social-icons img {
    width: 24px;
    height: 24px;
}

footer h2, .footer-bottom {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

footer img {
    width: 30px;
    margin: 5px;
}